/* If you use normal CSS you can copy this code and goto http://www.sassmeister.com/ to convert it! */

$color: #3498db;
$color-hover: #2980b9;

#container {
	width: 400px;
	margin: 40px auto;
	background: $color;
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

ul {
	display: flex;
	&.tabs {
		margin: 0;
		padding: 0;
		list-style: none;
		border-radius: 5px 5px 0 0;
		li {
			background: transparent;
			color: #fff;
			display: inline-block;
			padding: 10px 0;
			cursor: pointer;
			flex: 1;
			text-align: center;
			font-weight: 600;
			transition: 0.3s ease;
			-webkit-transition: 0.3s ease;
			-moz-transition: 0.3s ease;
			-ms-transition: 0.3s ease;
			&.current {
				background: #fff;
				color: #444;
			}
		}
	}
}
.tab-content{
	display: none;
	padding: 15px;
	&.current {
		display: inherit;
		background: #fff;
	}
}

input[type=text], input[type=password], input[type=email] {
	background: #f1f1f1;
	width: 100%;
	padding: 15px 0;
	margin-bottom: 10px;
	border: none;
	text-indent: 60px;
}
input[type=password] {
	margin-bottom: 0;
}
input[type=submit] {
	background: $color;
	border: none;
	padding: 10px 0;
	text-align: center;
	width: 100%;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	-moz-transition: 0.3s ease;
	-ms-transition: 0.3s ease;
	&:hover {
		background: $color-hover;
	}
}
.input-icon {
	position: absolute;
	margin-top: 17px;
	margin-left: 17px;
	&:after {
		content: "";
		display: block;
		height: 49px;
		width: 1px;
		background: #ddd;
		position: absolute;
		margin-top: -33px;
		left: 30px;
	}
}
.btn-container {
	margin-top: 10px;
}
.btn-icon {
	position: absolute;
}

/* You don't really need these */
* {padding: 0; margin: 0; font-family: 'Open Sans', 'Roboto', 'Arial';}
body {background: #eee;}